{%  load staticfiles %}

<!doctype html>
<html>
<head>
<title> Active Tests </title>
	<link rel="stylesheet" href="{% static 'mobileapp/css/MobileApp.css' %}">
</head>

<body>

<div align="center" id="buttons">
</div>
<br/>
<br/>
<br/>
<div>
<h1>Select the Test Station</h1>

<div  class="availableTests">
	<ul id="myCheckList">

	</ul>

</div>



<br/>
<br/>
<a class="mybutton" href="http://127.0.0.1:8000/mobileapp/stations">Back</a>
</div>
	<script
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="{% static 'mobileapp/js/list-station-tests.js' %}"></script>
</body>
</html>