<!doctype>
<html>
<head>
<title> Settings </title>
	{%  load staticfiles %}

	<link rel="stylesheet" href="{% static 'mobileapp/css/MobileApp.css' %}">

</head>

<body>


<h1 align="center"> <b>Bose</b> </h1>

<div align="center" id="buttons">
<a class="mybutton" href="#"> Add Test Stations</a>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<a class="mybutton" href="#"> Filtering Settings</a>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<a class="mybutton" href="#">Requests</a>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<a class="mybutton" href="http://127.0.0.1:8000/mobileapp/">Back</a>
</div>

</body>
</html>