<!DOCTYPE>
<html>
<head lang="en">

    <meta charset="UTF-8">
    <h1> {color: white}</h1>
    <title>Test_Station</title>

   {%  load staticfiles %}
	<link rel="stylesheet" href="{% static 'mobileapp/css/MobileApp.css' %}">


    <style>
        h1 {color: white}
    </style>
</head>
<p>

    <div id="back">

        <a class="mybutton" href="http://127.0.0.1:8000/mobileapp/">Back</a>
        <br/>
        <br/>

    </div>
<body>

    <h1>Select the Test Station</h1>


    {% for station in stations %}
        <li><a href="../display_tests/?station_id={{ station.name }}">{{ station.name }}</a></li>
    {% endfor %}
    </ul>

</body>

    <!--form>
    <select name="test_run" onchange="showStation(this.value)">
    </select>
    </form>
    <br>
    <div id="txtHint"><b>Info will be here</b></div-->


<!--script>
function showStation(str) {
    if (str == "") {
        document.getElementById("txtHint").innerHTML = "";
        return;
    } else {
        if (window.XMLHttpRequest) {
            xmlhttp = new XMLHttpRequest();
        } else {
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("txtHint").innerHTML = xmlhttp.responseText;
            }
        }
        xmlhttp.open("GET","get_testdata.php?q="+str,true);
        xmlhttp.send();
    }
}
</script-->

</html>