<!doctype>
<html>
<head>
<title> SignIn </title>
	{%  load staticfiles %}

	<link rel="stylesheet" href="{% static 'mobile/css/MobileApp.css' %}">

</head>

<body>


<h1 align="center"> <b>Bose</b> </h1>

<div align="center">
<a class="mybutton" href="http://127.0.0.1:8000/">Test Stations</a>
<br />
<br />
<br />
<a class="mybutton" href="Active_Tests.html">Active Tests</a>
<br/>
<br/>
<br/>
<a class="mybutton" href="#">Settings</a>
<br/>
<br/>
<br/>
<a class="mybutton" href="http://127.0.0.1:8000/mobileapp/signout">Sign Out</a>
</div>

</body>
</html>