<!doctype>
<html>
<head>
<title> SignIn </title>
	{%  load staticfiles %}

	<link rel="stylesheet" href="{% static 'mobileapp/css/MobileApp.css' %}">

</head>

<body>




<div align="center" id="buttons">

	<a class="mybutton" href="http://127.0.0.1:8000/mobileapp/stations">Test Stations</a>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<a class="mybutton" href="Active_Tests.html">Active Tests</a>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<a class="mybutton" href="#">Settings</a>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<a class="mybutton" href="http://127.0.0.1:8000/mobileapp/signOut">Sign Out</a>


</div>

</body>
</html>

